/addestramento/.vscode/*
/.idea/
/addestramento/.idea/
/predire-in-grafana-app/.idea/
/predire-in-grafana-app/.idea/
/predire-in-grafana-app/package-lock.json/
/predire-in-grafana-app/yarn.lock/
/predire-in-grafana-app/dist/
