<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta author="Carbon12">
    <title>Pagina di addestramento</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Predire in Grafana</h1>
    <h2>Pagina di addestramento</h2>
    <h3>Modello utilizzato: <%= model %></h3>
    <p>Il file con il predittore addestrato è pronto. Procedere con il download</p>
    <div>
      <form action="downloadFile" method="post">
        <fieldset>
          <input type="submit" id="download" value="DOWNLOAD PREDITTORE">
        </fieldset>
      </form>
      <button type="button" onclick="window.location.href='/'" id="home">Torna all'homepage</button>
    </div>
  </body>
</html>
